body{
	width:80%;
	margin:auto;
	background-color: #0e6251;

}
#div1 {
     padding:20px;
     width: 31%;
     text-align: center;
     font-size: 30px;
     background-color: #1abc9c;
     border-radius: 5px;
     margin:120px 0px 0px 300px;

}

#div2 {
	padding:25px;
	width: 30%;
	margin-left: 300px;
	min-height: 161px;
	background-color: #d1f2eb;
	border-radius: 5px;
}

#div2 #login {
	float: right;
}